wcfClient_dotNET/wcfClient_dotNET/Connected Services/EchoServiceReferenceHTTP/basichttp2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54891/EchoService/basichttp?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CoreWCfDemoServer" />
  <xs:element name="Echo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComplexEcho">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CoreWCfDemoServer" minOccurs="0" name="text" nillable="true" type="q1:EchoMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComplexEchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComplexEchoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FailEcho">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FailEchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FailEchoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>