wcfClient_dotNET/wcfClient_dotNET/Connected Services/EchoServiceReferenceHTTP/EchoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="EchoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IEchoService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54891/EchoService/basichttp?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54891/EchoService/basichttp?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54891/EchoService/basichttp?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CoreWCfDemoServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEchoService_Echo_InputMessage">
    <wsdl:part name="parameters" element="tns:Echo" />
  </wsdl:message>
  <wsdl:message name="IEchoService_Echo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoResponse" />
  </wsdl:message>
  <wsdl:message name="IEchoService_ComplexEcho_InputMessage">
    <wsdl:part name="parameters" element="tns:ComplexEcho" />
  </wsdl:message>
  <wsdl:message name="IEchoService_ComplexEcho_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComplexEchoResponse" />
  </wsdl:message>
  <wsdl:message name="IEchoService_FailEcho_InputMessage">
    <wsdl:part name="parameters" element="tns:FailEcho" />
  </wsdl:message>
  <wsdl:message name="IEchoService_FailEcho_OutputMessage">
    <wsdl:part name="parameters" element="tns:FailEchoResponse" />
  </wsdl:message>
  <wsdl:message name="IEchoService_FailEcho_EchoFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/CoreWCfDemoServer" name="detail" element="q1:EchoFault" />
  </wsdl:message>
  <wsdl:portType name="IEchoService">
    <wsdl:operation name="Echo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEchoService/Echo" message="tns:IEchoService_Echo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEchoService/EchoResponse" message="tns:IEchoService_Echo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComplexEcho">
      <wsdl:input wsaw:Action="http://tempuri.org/IEchoService/ComplexEcho" message="tns:IEchoService_ComplexEcho_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEchoService/ComplexEchoResponse" message="tns:IEchoService_ComplexEcho_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FailEcho">
      <wsdl:input wsaw:Action="http://tempuri.org/IEchoService/FailEcho" message="tns:IEchoService_FailEcho_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEchoService/FailEchoResponse" message="tns:IEchoService_FailEcho_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEchoService/FailEchoEchoFaultFault" name="EchoFaultFault" message="tns:IEchoService_FailEcho_EchoFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEchoService" type="tns:IEchoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Echo">
      <soap:operation soapAction="http://tempuri.org/IEchoService/Echo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComplexEcho">
      <soap:operation soapAction="http://tempuri.org/IEchoService/ComplexEcho" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FailEcho">
      <soap:operation soapAction="http://tempuri.org/IEchoService/FailEcho" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EchoFaultFault">
        <soap:fault use="literal" name="EchoFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_IEchoService" type="tns:IEchoService">
    <wsp:PolicyReference URI="#WSHttpBinding_IEchoService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Echo">
      <soap12:operation soapAction="http://tempuri.org/IEchoService/Echo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComplexEcho">
      <soap12:operation soapAction="http://tempuri.org/IEchoService/ComplexEcho" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FailEcho">
      <soap12:operation soapAction="http://tempuri.org/IEchoService/FailEcho" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EchoFaultFault">
        <soap12:fault use="literal" name="EchoFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EchoService">
    <wsdl:port name="BasicHttpBinding_IEchoService" binding="tns:BasicHttpBinding_IEchoService">
      <soap:address location="http://localhost:54891/EchoService/basichttp" />
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_IEchoService" binding="tns:WSHttpBinding_IEchoService">
      <soap12:address location="https://localhost:44316/EchoService/WSHttps" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:44316/EchoService/WSHttps</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>